<h1>Register Partial</h1>
<p>{{ message }}</p>
<div>
    <form>
        <div class="row">
            <label>username:</label>
            <input type="text" name="username" ng-model="user.username" required placeholder="username" />
        </div>
        <div class="row">
            <label>email:</label>
            <input type="email" name="email" ng-model="user.email" required placeholder="email@something.com" />
        </div>
        <div class="row">
            <label>password:</label>
            <input type="password" name="password" ng-model="user.password" required placeholder="password" />
        </div>
        <div class="row">
            <button ng-click="register(user)" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>